@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  /* background: rgba(126, 125, 125, 0.5); */
}

*::-webkit-scrollbar-thumb {
  background: rgba(126, 125, 125, 0.1);
  border-radius: 20px;
  border: transparent;
}
